@import "../../styles/variables";

.pokemonCard {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  transition:
    border-color 400ms ease,
    box-shadow 250ms ease;
  cursor: pointer;

  img {
    width: 60px;
  }

  &:hover {
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: $box-shadow-inactive;
  }
}
