@import "../pixelart";

$color-1: #FFFFFF;
$color-2: #000000;
$color-3: #FF608B;
$color-4: #00F844;

$colors: (
  1: $color-1,
  2: $color-2,
  3: $color-3,
  4: $color-4
);

$pokemon:
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,1,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,3,1,2,3,3,2,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1,3,2,2,3,3,2,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,3,1,3,1,3,2,1,3,3,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,3,1,1,1,3,2,2,3,1,3,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1,1,1,3,2,3,2,1,3,3,3,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,3,1,3,1,3,2,3,3,2,3,1,3,3,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,3,1,3,2,3,3,2,3,1,3,3,3,3,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,3,3,3,2,3,3,2,1,3,3,3,3,3,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,3,3,3,2,3,3,2,3,3,1,3,3,3,3,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,3,3,3,2,3,3,2,3,1,3,3,3,3,3,3,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,3,3,3,2,3,2,3,3,3,3,3,3,3,3,3,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,1,2,2,1,1,2,3,3,3,2,3,2,3,3,3,3,3,3,3,3,3,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,2,2,1,4,2,1,4,2,2,2,2,3,3,3,2,2,3,3,3,3,3,3,3,3,3,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,2,1,4,2,4,4,2,4,1,2,1,4,2,3,3,3,2,3,3,3,3,3,3,3,3,3,2,1,1,1,1,1,2,2,1,2,2,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,2,2,2,4,4,2,4,2,4,4,2,4,4,4,2,3,3,2,3,3,3,3,3,3,3,3,3,2,1,2,2,2,2,1,4,2,1,2,2,2,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,2,4,4,4,4,4,4,4,2,2,4,4,4,4,4,2,3,3,3,2,3,3,3,3,3,2,2,2,4,2,1,2,4,2,4,4,4,4,4,4,4,2,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,2,4,2,4,4,4,4,2,1,1,2,2,4,4,4,4,2,2,2,2,3,3,3,2,2,4,4,2,4,2,4,4,4,4,4,2,2,2,4,4,4,2,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,2,2,4,2,4,4,2,1,4,4,4,2,2,2,2,4,4,4,4,2,2,2,4,4,4,2,2,2,4,4,4,2,2,2,4,4,4,4,2,2,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,2,2,2,4,2,4,1,4,2,2,4,1,1,1,1,1,4,4,4,4,4,4,4,2,2,2,2,4,2,2,4,4,4,4,4,2,4,4,2,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,4,4,4,4,4,1,2,2,1,1,2,4,4,4,4,4,4,4,2,2,4,2,2,4,4,4,4,4,2,4,4,2,2,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,4,4,4,2,2,2,1,2,4,4,4,4,2,2,4,4,4,2,4,2,4,4,4,4,2,4,4,2,4,4,2,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,1,1,2,4,4,2,2,4,4,2,4,4,2,2,1,1,2,4,4,4,2,4,4,4,4,4,4,2,4,4,2,2,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,4,1,3,3,4,4,4,4,4,4,4,2,2,3,3,1,1,1,2,4,4,2,2,4,4,2,4,4,4,2,2,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,4,4,1,3,2,4,4,4,4,4,4,4,4,2,2,3,2,1,1,2,4,4,2,2,2,4,4,2,4,1,2,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,2,4,4,4,2,2,4,4,4,4,4,4,4,4,2,2,4,4,4,4,4,4,4,2,4,2,2,4,4,2,2,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,2,4,4,4,4,4,4,4,4,4,2,4,4,4,4,4,2,2,2,4,4,4,4,4,4,4,4,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,2,4,4,2,1,1,2,4,4,4,4,4,4,2,2,2,2,1,1,1,2,2,4,4,4,2,4,2,4,4,2,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,2,4,2,2,2,1,2,2,2,2,2,2,2,2,2,2,2,2,1,2,2,2,2,4,4,2,4,2,2,4,4,2,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,2,4,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,4,4,4,2,4,4,2,4,4,2,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,2,4,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3,2,2,2,2,4,4,2,4,4,4,4,4,2,4,2,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,4,2,2,2,3,3,3,3,3,3,3,3,3,3,3,3,3,2,4,4,4,2,4,4,4,4,4,2,4,2,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,2,4,4,2,4,4,2,2,2,3,3,3,3,3,3,3,3,3,2,2,4,4,4,2,4,4,4,4,4,4,2,4,4,2,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,2,4,4,4,2,2,4,4,4,2,2,2,2,2,2,2,2,2,4,4,4,2,2,4,4,2,2,4,4,2,4,4,4,2,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,2,4,2,2,4,4,2,2,2,4,4,4,4,4,4,4,4,4,4,2,2,4,4,4,4,2,2,4,4,2,4,4,4,2,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,2,4,2,2,2,4,4,4,4,4,2,2,2,2,2,2,2,2,2,2,4,4,4,4,4,4,4,2,4,2,4,4,4,4,2,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,2,4,2,2,4,4,4,4,4,2,2,4,2,4,2,4,2,2,2,4,2,2,4,4,4,4,4,4,4,2,4,4,4,4,1,2,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,2,4,4,4,4,4,4,4,2,1,1,2,4,2,4,2,2,1,1,2,4,2,4,4,4,4,4,4,4,2,4,1,1,2,2,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,2,1,4,4,4,4,4,2,2,1,1,1,1,2,2,2,2,1,1,1,1,1,1,2,4,4,4,4,4,2,2,2,2,2,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,4,2,2,1,1,2,1,4,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,4,4,4,4,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,1,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1,4,2,1,1,2,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,1,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1;

.ivysaur {
  box-shadow: pixelart($pokemon);
}
