$box-size: 335px;

$gray-1: rgba(50, 50, 50, 0.1);
$gray-2: rgba(0, 0, 0, 0.2);
$gray-3: rgba(0, 0, 0, 0.7);

$box-shadow-inactive: 6px 6px 0px 0px $gray-1;
$box-shadow-active: 3px 3px 0px 0px $gray-1;
