
.homeContainer {
  //width: 100vw;
  height: 100vh;

  .buttonsContainer {
    width: 800px;
    position: relative;
    margin: 10vh auto;

    .button {
      margin-right: 25px;
      text-transform: capitalize;
      font-size: 1.2rem;
    }
  }

  .grid {
    position: relative;
    margin: 0 auto;
    width: 800px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(150px, auto);
  }
}
